<% if @records.present? %>
  <h2>Hello <%= @user.family.lastname %>!</h2>
  <div class="panel panel-primary">
    <div class="panel-heading">Учет</div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Категория</th>
            <th>Описание</th>
            <th>Значение</th>
            <th>Член семьи</th>
            <th>Дата</th>
          </tr>
        </thead>
        <% @records.each_with_index do |record, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= record.item.name %></td>
            <td><%= record.description %></td>
            <td><%= record.value %> ₽</td>
            <td><%= record.user.firstname %></td>
            <td><%= record.date %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <h2>Hello World!</h2>
  <br>
  <h3>There are will be all our family budget!<h3>
<% end %>
