<!DOCTYPE html>
<html>
  <head>
    <title>Mountt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-blue">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Mountt</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">
                <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
                Помощь
              </a>
            </li>
            <li class="dropdown">
              <% if user_signed_in? %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                  <%= current_user.firstname %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="#">
                      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                      Настройки
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
                      Платежи
                    </a>
                  </li>
                  <li role="separator" class="divider"></li>
                  <li>
                    <%= link_to destroy_user_session_path, :method => :delete do %>
                      <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                      Выход
                    <% end %>
                  </li>
                </ul>
              <% else %>
                <%= link_to new_user_session_path do %>
                  <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                  Войти
                <% end %>
              <% end %>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="menu col-md-2">
          <div class="panel panel-blue panel-body">
            <ul>
              <li>
                <%= link_to dashboard_path do %>
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"></span>
                  Аналитика
                <% end %>
              </li>
              <li>
                <%= link_to records_path do %>
                  <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>
                  Учет
                <% end %>
              </li>
              <li>
                <%= link_to plans_path do %>
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                  План
                <% end %>
              </li>
              <li>
                <%= link_to items_path do %>
                  <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                  Категории
                <% end %>
              </li>
              <li>
                <%= link_to users_path do %>
                  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                  Cемья
                <% end %>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-10">
          <% if notice %>
            <div class="alert alert-success" role="alert">
              <%= notice %>
            </div>
          <% end %>
          <% if alert %>
            <div class="alert alert-danger" role="alert">
              <%= alert %>
            </div>
          <% end %>
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
